body {
    background: linear-gradient(to right, rgb(116, 235, 213), rgb(172, 182, 229));
}

.inputs {
    width: 180px;
    height: 240px;
    position: fixed; /* could be absolute */
    margin: auto;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    background-color: rgba(147, 232, 214, 0.6);
    border: 5px dashed white;
    z-index: 3;
    padding: 5px 5px;
    color: #9974f7;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Ubuntu,Arial,sans-serif;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
    color: grey;
    text-align: right;
    width: 10px;
    height: 10px;
    margin-left: 165px;
    margin-top: 0;
}

.close:hover {
    opacity: 0.6;
}

.add-text-btn {
    background-color: #9482ed;
    border: none;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Ubuntu,Arial,sans-serif;
}

.del-text-btn {
    background-color: #9482ed;
    border: none;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Ubuntu,Arial,sans-serif;
}

.welcome {
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Ubuntu,Arial,sans-serif;
}

.display {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1000px;
    padding-left: 80px;
}

.add {
    width: 110px;
    height: 110px;
    margin-top: 75px;
    margin-left: 45px;
}

.display-item {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(185, 147, 214), rgb(140, 166, 219));
    width: 200px;
    height: 260px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon_container {
    height: 30px;
    display: flex;
    margin-top: 10px;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    margin-left: 12px;
}

.number {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Ubuntu,Arial,sans-serif;
    color: white;
    margin-top: -1px;
    margin-left: 67px;
}

.edit {
    width: 20px;
    height: 20px;
    margin-left: 118px;
}
.delete {
    width: 20px;
    height: 20px;
    margin-left: 7px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
}
.title {
    text-align: center;
    margin: 0 auto;
    font-size: 110%;
}

.content {
    text-align: left;
    margin-top: 5px;
    font-size: 80%;
    overflow: hidden;
    height: 87px;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.content:hover {
    overflow: visible;
}

.text {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Ubuntu,Arial,sans-serif;
    color: white;
    width: 150px;
    height: 120px;
    word-wrap: break-word;
    position: relative;
    padding-bottom: 5px;
}

.text:after {
    content: "";
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.due {
    color: #87edd7;
    font-size: 70%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Ubuntu,Arial,sans-serif;
    margin-top: 15px;
}

.time {
    font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Ubuntu,Arial,sans-serif;
    font-size: 0.5px;
    color: lightgrey;
    margin-top: 10px;
}

